<form action="" method="POST">
  <br>
  <input type="text" name="name" value=""><br>
  <input type="text" name="cp" value=""><br>
  <input type="text" name="poke_type" value=""><br>
  <input type="text" name="img_url" value=""><br>
  <input type="submit" name="create" value="Create Pokemon">
</form>
